body {
  font-family: 'Courier New', Courier, monospace;
  background: url('../images/coffee_house.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img {
  width: 300px;
  display: block;
  margin: 20px;
}
